/* Styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

/* Global Values */

#g-home {
    font-family: 'DM Sans', sans-serif;
}

#g-sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    background: #000;
    left: -300px;
    transition: .4s;
}

#g-toggle-btn span {
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
}

/* Samples Page */

#g-sample-paragraph {
    margin-bottom: 0px;
}

#g-sample-text {
    list-style: inside;
}

/* Homepage */

#g-sidebar.active {
    left: 0;
}

#g-sidebar ul {
    margin: 0;
    padding: 0;
}

#g-sidebar-text-one, #g-sidebar-text-two, #g-sidebar-text-three, #g-sidebar-text-four {
    list-style: none;
    font-size: 20px;
    padding: 20px 24px;
    text-decoration: none;  
}

#g-sidebar-text-one a, #g-sidebar-text-two a, #g-sidebar-text-three a, #g-sidebar-text-four a { color: #fff; }

#g-sidebar #g-toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;
    width: 500%;
}

/* Resume Page */

#p-resume-content {
    text-align: center;
}

#s-experience table {
    margin: auto;
    border-collapse: collapse;
}

#s-experience table tr td {
    border-style: dotted;
    text-align: center;
}

#s-skills ul {
    list-style-position: inside;
}

/* Images */

img { width: 500px; }