.p-resume {
    text-align: center;
}

.s-experience table {
    margin: auto;
    border-collapse: collapse;
}

.s-experience table tr td {
    border-style: dotted;
    text-align: center;
}

.s-skills ul {
    list-style-position: inside;
}